*{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root{
    --rosa-01:#da6881;
    --rosa-02:#fda6c9;
    --rosa-03:#da6881;
    --rosa-04:#e990a3;
    --vermelho-01:#960000;
    --vermelho-02:#bd0707;
    --verdinho:#eff;
    --wite:#ffeeee;
    --marrom:#c7935378;
    --preto:#000000;
    --azul:#0000ff;
    --azul-02:#00BFFF;
    --azul-03:#708090;
}

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    min-height: 100vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('imagens/davi01.jpg') ;
    background-repeat: no-repeat;
}
.wrapper{/*estrutra da carta*/
    position: relative;
    width: 25rem;
    height: 12rem;
    margin-top: 2rem;
}
.env{
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    box-shadow: 10px 35px 25px var(--marrom);
}
.env::before{/*Animação da parte de cima*/
    content: '';
    position: absolute;
    inset: 0;
    z-index: 2;
    background: linear-gradient(-120deg,
    var(--azul),
    var(--azul));
    clip-path: polygon(0% 0%,50% 70%,100% 0%);
    transform-origin: top;
    animation: openenv 2s linear forwards 2s;

}
.env::after{/*imagem de fundo*/
    content: '';
    position: absolute;
    inset: 0;
    background: var(--azul-03);
    border-radius: 1rem;
}
.front{/*Oque administra tudo*/
    position: absolute;
    inset: 0;
    border-right: 14.5rem solid var(--azul-02);
    border-top: 7rem solid transparent;
    border-bottom: 7rem solid transparent;
    border-radius: 0 1rem 1rem 0;
}
.front::before{/*Estrutura da carta da parte esquerda*/
    content: '';
    position: absolute;
    border-left: 12.5rem solid var(--azul-02);
    border-bottom: 7rem solid transparent;
    border-top: 7rem solid transparent;
    top: -7rem;
}
.front::after{ /*Estrutura da carta da parte direita*/
    content: '';
    position: absolute;
    border-bottom: 7rem solid var(--azul);
    border-right: 12.5rem solid transparent;
    border-left: 12.5rem solid transparent;
    border-radius: 0 0 1rem 1rem;
}
img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6rem;
    z-index: 5;
    transform-origin: top;
    transform: translate(-50%,-20%);
    animation: heart 1s forwards 1s;
}

.lettre{ /*para mecher na letra*/ 
    background: #eff;
    height: 150%;
    width: 100%;
    margin: .5rem auto;
    font-size: 1.1rem;
    color: var(--preto);
    font-family: 'pacifico';
    text-align: center;
    padding-top: 2rem;
    animation: lettre 1s forwards 4s;
}
@keyframes openenv {
    100%{
        transform: rotateX(200deg) translateY(-.3rem);
        z-index: -1;
        background: linear-gradient(45deg, var(--azul),var(--azul-02));
    }
}
@keyframes lettre {
    100%{transform: translateY(-16.3rem);}
}
@keyframes heart {
    100%{transform: translate(-50%,-30%) scaleX(0);}
}